[:page partOf="hello_templating" args="header, sidebar, body, footer"]
<div>
  <div class="header">
    [=header]
  </div>
  <div class="sidebar">
    [=sidebar]
  </div>
  <div class="body">
    [=body]
  </div>
  <div class="footer">
    [=footer]
  </div>
</div>
