[:page partOf="main.dart" args="Map infos: const {}, header, footer"]
[:if header != null]
  [=header]
[/if]
<ul>
  <li>This is a fragment and generated dynamically</li>
  [:for type in infos.keys]
    <li>[=type]
      <ol>
      [:for name in infos[type]]
        <li>[=name]</li>
      [/for]
      </ol>
    </li>
  [/for]
</ul>
[:if footer != null]
  [=footer]
[/if]
